<!DOCTYPE html>
<html lang='ru'>
<head>
  <title>Taskmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
    </div>
  </div>
</header>

<main class="container">
  <div class="row text-center vcenter">
    <h1>Main#index</h1>
    <p>Find me in app/views/main/index.html.erb</p>
  </div>
</main>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-text pull-left">
      © ODINSY
    </div>
  </div>
</footer>
