html,
body,
.container,
.row {
  height: 100%;
}
body {
  padding-top: 50px;
}

/* clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* nopadding */
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* textarea */
textarea {
  resize: none;
}
/* Блок tasks#index */
.user-block {
  background: white;
  padding: 15px;
}
.head-align {
  padding: 8px 0px;
}
/* SIDEBAR */
.sidebar,
.content {
  height: 100%;
}
.sidebar {
  background: #d0d0d0;
  position: fixed;
}
.content {
  background: beige;
  padding: 10px;
}
.content hr {
  margin: 0;
}
.sidebar-title {
  background: #b4aaaa;
  padding: 10px 15px;
}

/* Блок tasks#show */
.task-head {
  padding: 0 !important;
}
.task-priority,
.task-deadline {
  padding-left: 5px;
  padding-right: 5px;
}
.task-priority {
  border-right: 1px solid #ddd;
  float: left;
  margin: 0 auto;
}
.task-deadline {
  border-right: 1px solid #ddd;
  float: left;
  margin: 0 auto;
}
.task-description {
  min-height: 100px;
}
.subtask-title {
  border-bottom: 1px solid #ddd;
  padding: 5px !important;
}
.subtask-title ul,
ol {
  margin: 5px;
}
